* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  // height: 100vh;
  overflow: hidden;
}

.navbar{
  // height:7vh;
  background:rgb(221, 217, 217);
  position: fixed;
  z-index: 1;
  width:100%;
  height: 6vh;
  
  
  .navlinks {
    display: flex;
    list-style: none;
    width: 40%;
    height:100%;
    letter-spacing: 1px;
    justify-content: space-around;
    margin-left: auto;
    align-items: center;

    li a {
      color:white;
      text-decoration:none;
      padding-right: 15px;

      &:hover{
        color:black;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  // USE class name .navbar not the selector nav element or else it won't work
  //works with nav element selector when didn't use z-index and position fixed for 
  .navbar {
    .navlinks {
      position: fixed;
      background: lightgrey;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      z-index:1;
      // visibility: hidden;
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      transition: all 1.5s ease-in-out;

      .open {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        
      }
    }
  }
  
  .burger {
    position: absolute;
    right: 3%;
    top:50%;
    cursor:pointer;
    transform: translate(-5%, -50%);
    // &::active {
    //   clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    //   -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    // }
  }

  .line {
    width:30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  
}

.mainContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  // -ms-scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  height: 100vh;
  padding-top:30px;

}

.section {
  // padding:7em;
  height: 100%;
  width:100%;
  color: white;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  color: black;
  
  h3{
    font-size: 3em;
  }
}


.home{
  background-image: url(https://srpics.s3-us-west-1.amazonaws.com/rsz_portfolio3.jpg);
  background-size: cover;
  background-position: center;
  // display:flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  position: relative;
  
 
  .welcome{
    background-color: rgba(246, 250, 250, 0.4);
    padding: 10% 25%;
    // border: lightgrey solid;
    position: absolute;
    // margin: 5%;
    width:60%;
    height:80%;
    img {
      height:300px;
      width: 300px;
      border-radius: 15%;
      // opacity: 0.9;
      filter: grayscale(5%);
    
    
    }
  }
  
  p {

  }
  h1 {

  }

}

.about{
  background: url(https://srpics.s3-us-west-1.amazonaws.com/rsz_photo-1506988038666-496173f39dea.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display:grid;
  grid-template-rows: 5fr 3fr;
  grid-template-areas:
    "box1"
    "box2";
  // grid-auto-flow: col;

  
  .about_content {
    margin-top: 5%;
    margin-left:10%;
    margin-right: 10%;
    // margin-bottom:5%;
    position: absolute;
    grid-area:box1;
  }
  .skills_container {
    margin-left:10%;
    margin-right:10%;
    grid-area: box2;
    position: absolute;
    display:grid;
    background-color: rgba(225, 225, 225, 0.6);
    width:85%;

    grid-template-columns: repeat(4, 100px);
    grid-column-gap: 18%;
    grid-row-gap: 10%;
  
    .react{
      margin-left:30px;

    }
    .postgres{
      margin-left:30px;
    }
  }
}

.projects{
  background:url(https://srpics.s3-us-west-1.amazonaws.com/rsz_1pexels-photo-3759098.jpg);
  background-size: cover;
  background-position: center;
  text-align:center;
 
  h1{
    padding-top: 60px;
    padding-bottom:0;
    margin-bottom:0;
    // border:black solid;

  }
  .projects_main_container{
    display:grid;
    position:relative;
    grid-template-columns: 1fr 1fr;
    // grid-row-gap: 0;
    grid-column-gap: 2%;
    // background-color: lightpink;
    height:85%;
    width:95%;
    margin-left: 3%;
    

    h1{
      font-size: medium;
      text-decoration: underline;
      padding-top:0;
    }
    .project_container{
      // position: absolute;
      margin:0;

      .project_description{
        margin: 0 2%;
        background-color: rgba(246, 250, 250, 0.4);
        // border:grey solid
      }
    }
 
  }
  // background-position-y: 100%;
}

.contact{
  background: url(https://srpics.s3-us-west-1.amazonaws.com/rsz_1pexels-photo-1166643.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  .contacts_container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    // border:black 1px solid;
    width:100%;
    height:90%;
    
    .contacts_content{
      // border:red solid;

      
      
    }
    .contacts_bg{
      text-align:center;
      margin-left:20%;
      height:20%;
      width:70%;
      
      
      .contacts_heading{
   
      }
      
    }
    .contacts_icons{
      position:relative;
      display:grid;
      grid-template-rows: repeat(5,1fr);
      padding-left:20%;
      .icon{
        margin-top:5%;
        a {
          text-decoration: none;
          color: black;

        }
      }
    }
    

  }
}
